# =========================================
# ENVIRONMENT
# =========================================
ENVIRONMENT=production
DEBUG=False

SECRET_KEY=django-insecure-9sd8f7sdf8s7df8s7df8s7df8s7df8s7df

ALLOWED_HOSTS=awaisamjad.engineer,www.awaisamjad.engineer,13.53.127.76,localhost,127.0.0.1

# =========================================
# DATABASE (PostgreSQL)
# =========================================
DB_ENGINE=django.db.backends.postgresql
DB_NAME=real_mfa_db
DB_USER=real_mfa_user
DB_PASSWORD=StrongPass123!
DB_HOST=localhost
DB_PORT=5432

# =========================================
# REDIS / CELERY
# =========================================
REDIS_HOST=localhost
REDIS_PORT=6379

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# =========================================
# EMAIL (TEMP - console)
# =========================================
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend

# =========================================
# SECURITY
# =========================================
CSRF_TRUSTED_ORIGINS=https://awaisamjad.engineer,https://www.awaisamjad.engineer
CORS_ALLOWED_ORIGINS=https://awaisamjad.engineer,https://www.awaisamjad.engineer
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
SECURE_HSTS_SECONDS=0

# =========================================
# STATIC & MEDIA
# =========================================
STATIC_ROOT=/home/root/Real_MFA-1/Real_MFA/staticfiles
MEDIA_ROOT=/home/root/Real_MFA-1/Real_MFA/media